

@font-face {
    font-family: 'xqRegular';
    src: url('xq-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'xqItalic';
    src: url('xq-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'xqBold';
    src: url('xq-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'xqBoldItalic';
    src: url('xq-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}


@font-face {
    font-family: 'xqExtraBold';
    src: url('xq-extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'xqExtraBoldItalic';
    src: url('xq-extrabolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}


@font-face {
    font-family: 'xqLight';
    src: url('xq-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'xqLightItalic';
    src: url('xq-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'xqSemiBold';
    src: url('xq-semibold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'xqSemiBoldItalic';
    src: url('xq-semibolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'xqCondensedBold';
    src: url('xq-condensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'xqCondensedLight';
    src: url('xq-condensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'xqCondensed';
    src: url('xq-condensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'xqSerif';
    src: url('xq-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'xqSerifLight';
    src: url('xq-serifLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'xqSerifBold';
    src: url('xq-serifBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'xqSerifThin';
    src: url('xq-serifThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


