.xq-amber,.xq-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.xq-aqua,.xq-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.xq-blue,.xq-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.xq-light-blue,.xq-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.xq-brown,.xq-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.xq-cyan,.xq-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.xq-blue-grey,.xq-hover-blue-grey:hover,.xq-blue-gray,.xq-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.xq-green,.xq-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.xq-light-green,.xq-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.xq-indigo,.xq-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.xq-khaki,.xq-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.xq-lime,.xq-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.xq-orange,.xq-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.xq-deep-orange,.xq-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.xq-pink,.xq-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.xq-purple,.xq-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.xq-deep-purple,.xq-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.xq-red,.xq-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.xq-sand,.xq-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.xq-teal,.xq-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.xq-yellow,.xq-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.xq-white,.xq-hover-white:hover{color:#000!important;background-color:#fff!important}
.xq-black,.xq-hover-black:hover{color:#fff!important;background-color:#000!important}
.xq-grey,.xq-hover-grey:hover,.xq-gray,.xq-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.xq-light-grey,.xq-hover-light-grey:hover,.xq-light-gray,.xq-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.xq-dark-grey,.xq-hover-dark-grey:hover,.xq-dark-gray,.xq-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.xq-pale-red,.xq-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.xq-pale-green,.xq-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.xq-pale-yellow,.xq-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.xq-pale-blue,.xq-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.xq-text-amber,.xq-hover-text-amber:hover{color:#ffc107!important}
.xq-text-aqua,.xq-hover-text-aqua:hover{color:#00ffff!important}
.xq-text-blue,.xq-hover-text-blue:hover{color:#2196F3!important}
.xq-text-light-blue,.xq-hover-text-light-blue:hover{color:#87CEEB!important}
.xq-text-brown,.xq-hover-text-brown:hover{color:#795548!important}
.xq-text-cyan,.xq-hover-text-cyan:hover{color:#00bcd4!important}
.xq-text-blue-grey,.xq-hover-text-blue-grey:hover,.xq-text-blue-gray,.xq-hover-text-blue-gray:hover{color:#607d8b!important}
.xq-text-green,.xq-hover-text-green:hover{color:#4CAF50!important}
.xq-text-light-green,.xq-hover-text-light-green:hover{color:#8bc34a!important}
.xq-text-indigo,.xq-hover-text-indigo:hover{color:#3f51b5!important}
.xq-text-khaki,.xq-hover-text-khaki:hover{color:#b4aa50!important}
.xq-text-lime,.xq-hover-text-lime:hover{color:#cddc39!important}
.xq-text-orange,.xq-hover-text-orange:hover{color:#ff9800!important}
.xq-text-deep-orange,.xq-hover-text-deep-orange:hover{color:#ff5722!important}
.xq-text-pink,.xq-hover-text-pink:hover{color:#e91e63!important}
.xq-text-purple,.xq-hover-text-purple:hover{color:#9c27b0!important}
.xq-text-deep-purple,.xq-hover-text-deep-purple:hover{color:#673ab7!important}
.xq-text-red,.xq-hover-text-red:hover{color:#f44336!important}
.xq-text-sand,.xq-hover-text-sand:hover{color:#fdf5e6!important}
.xq-text-teal,.xq-hover-text-teal:hover{color:#009688!important}
.xq-text-yellow,.xq-hover-text-yellow:hover{color:#d2be0e!important}
.xq-text-white,.xq-hover-text-white:hover{color:#fff!important}
.xq-text-black,.xq-hover-text-black:hover{color:#000!important}
.xq-text-grey,.xq-hover-text-grey:hover,.xq-text-gray,.xq-hover-text-gray:hover{color:#757575!important}
.xq-text-light-grey,.xq-hover-text-light-grey:hover,.xq-text-light-gray,.xq-hover-text-light-gray:hover{color:#f1f1f1!important}
.xq-text-dark-grey,.xq-hover-text-dark-grey:hover,.xq-text-dark-gray,.xq-hover-text-dark-gray:hover{color:#3a3a3a!important}
.xq-border-amber,.xq-hover-border-amber:hover{border-color:#ffc107!important}
.xq-border-aqua,.xq-hover-border-aqua:hover{border-color:#00ffff!important}
.xq-border-blue,.xq-hover-border-blue:hover{border-color:#2196F3!important}
.xq-border-light-blue,.xq-hover-border-light-blue:hover{border-color:#87CEEB!important}
.xq-border-brown,.xq-hover-border-brown:hover{border-color:#795548!important}
.xq-border-cyan,.xq-hover-border-cyan:hover{border-color:#00bcd4!important}
.xq-border-blue-grey,.xq-hover-border-blue-grey:hover,.xq-border-blue-gray,.xq-hover-border-blue-gray:hover{border-color:#607d8b!important}
.xq-border-green,.xq-hover-border-green:hover{border-color:#4CAF50!important}
.xq-border-light-green,.xq-hover-border-light-green:hover{border-color:#8bc34a!important}
.xq-border-indigo,.xq-hover-border-indigo:hover{border-color:#3f51b5!important}
.xq-border-khaki,.xq-hover-border-khaki:hover{border-color:#f0e68c!important}
.xq-border-lime,.xq-hover-border-lime:hover{border-color:#cddc39!important}
.xq-border-orange,.xq-hover-border-orange:hover{border-color:#ff9800!important}
.xq-border-deep-orange,.xq-hover-border-deep-orange:hover{border-color:#ff5722!important}
.xq-border-pink,.xq-hover-border-pink:hover{border-color:#e91e63!important}
.xq-border-purple,.xq-hover-border-purple:hover{border-color:#9c27b0!important}
.xq-border-deep-purple,.xq-hover-border-deep-purple:hover{border-color:#673ab7!important}
.xq-border-red,.xq-hover-border-red:hover{border-color:#f44336!important}
.xq-border-sand,.xq-hover-border-sand:hover{border-color:#fdf5e6!important}
.xq-border-teal,.xq-hover-border-teal:hover{border-color:#009688!important}
.xq-border-yellow,.xq-hover-border-yellow:hover{border-color:#ffeb3b!important}
.xq-border-white,.xq-hover-border-white:hover{border-color:#fff!important}
.xq-border-black,.xq-hover-border-black:hover{border-color:#000!important}
.xq-border-grey,.xq-hover-border-grey:hover,.xq-border-gray,.xq-hover-border-gray:hover{border-color:#9e9e9e!important}
.xq-border-light-grey,.xq-hover-border-light-grey:hover,.xq-border-light-gray,.xq-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.xq-border-dark-grey,.xq-hover-border-dark-grey:hover,.xq-border-dark-gray,.xq-hover-border-dark-gray:hover{border-color:#616161!important}
.xq-border-pale-red,.xq-hover-border-pale-red:hover{border-color:#ffe7e7!important}.xq-border-pale-green,.xq-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.xq-border-pale-yellow,.xq-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.xq-border-pale-blue,.xq-hover-border-pale-blue:hover{border-color:#e7ffff!important}

